:root {
    background-color:rgb(250, 244, 237);
    font-family: "Poppins", sans-serif;
}
body {
    
    font-family: "Poppins", sans-serif;
    margin:auto auto;
}
a {
    color: rgb(87, 82, 121);
    font-size:24px;
    text-decoration:none;
    transition-duration:250ms;
}
a:hover {
    background-color: rgb(250, 244, 237);
    border-radius:3px;
    
}
.container {
   
    background-color: rgb(242, 233, 222);
    display:grid;
    
    
    width:200px;
    margin:auto auto;
    padding:10px;
    border-radius:15px;
    position:relative;
    flex-wrap: wrap;
    
}
.iconContainer {
    display:inline-block;
    text-align:center;
    
    box-sizing:border-box;
    flex-wrap: wrap;
    margin: 0;
    
}
.linkIcon {
    position:relative;
    top:7px;
    
    width:30px;
    
}