

:root {
    
    font-family: "Poppins", sans-serif;
   
}
[data-theme="dark"] {
    --background: rgb(35, 33, 54);
    --element:rgb(42, 39, 63);
    --element-hover:rgb(38, 35, 58);
    --text: rgb(87, 82, 121);
    --text-hover: rgb(62, 143, 176);
}
[data-theme="light"] {
    --background:rgb(250, 244, 237);
    --element: rgb(242, 233, 222);
    --element-hover: rgb(250, 244, 237);
    --text: rgb(87, 82, 121);
    --text-hover: rgb(40, 105, 131);
}
embed {
    pointer-events: none;
}

body {
    display:flex;
    font-family: "Poppins", sans-serif;
    margin:auto auto;
    background-color: var(--background);
    transition-duration:250ms;
}
.themeSelector {
    height:10%;
}
.dayNight {
    display:flex;
    width:40px;
}
.dayNightButton{
    background-color:transparent;
    border:0;
}
.gcse-searchbox-only {
    display:flex;
    
}
a {
    
    display:inline-block;
    
    background-color: var(--element);
    color: var(--text);
    padding:0 5px;
    font-size:24px;
    text-decoration:none;
    transition-duration:250ms;
}
a:hover {
    background-color:var(--element-hover);
    border-radius:3px;
    color: var(--text-hover)
    
}
.container {
   
    transition-duration:250ms;
    display:grid;
    background-color: var(--element);
    min-width:200px;
    max-width:400px;
    margin:auto auto;
    padding:10px;
    border-radius:15px;
    position:relative;
    flex-wrap: wrap;
    margin-top:0;
}
.iconContainer {
    display:inline-block;
    text-align:center;
    
    box-sizing:border-box;
    flex-wrap: wrap;
    margin-bottom:10px;
    
}
.linkIcon {
    position:relative;
    top:7px;
    
    width:30px;
    
}
.search {
    width:250px;
    border-radius:25px;
    border:0;
    padding:5px;
    height:20px;
    text-align: center;
    
}
form {
    margin-top:10px;
    display:flex;
    align-items:center;
    justify-content: center;
}
input[type="image"]{
    border-radius:25px;
    
    background-color:lightblue;
    border:0;
    padding:5px;
    margin-left:5px;
    display:inline-block;
    
}
